- @question = Question.order(Arel.sql('RANDOM()')).first if Question.any?
.row.justify-content-center.align-items-center.h-75
  = link_to 'The first player is...', @question, class: 'btn btn-warning btn-lg'
